<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Audrey y Ale se casan!</h2>
    <div>
    	<%= link_to('Confirma tu asistencia!', guest_url(@guest)) %>
    </div>
    <div>
    	<img src="https://dl.dropboxusercontent.com/s/fthfijuh3u1tfif/invite.png" alt="tada">
    </div>
  </body>
</html>